.navigation {
    width: 100%;
    border: 1px solid transparent;
    background-color: lightgray;
    text-align: center;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}