.filters {
    display: block;
    width: 200px;
    min-height: 600px;
    /* border: 2px solid black; */
    background-color: gray;
    margin-right: 8px;
    float: left; /* remove this and handle in the page */
}