.product-summary {
    display: block;
    flex-grow: 1;
    flex-basis: 200px;
    height: 250px;
    background-color: gray;
    margin: 8px 8px 8px 0;
    overflow: hidden;
    padding: 8px;
}

.product-image {
    max-width: 100%;
}